/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EFF1F3;
}

h1,h3{
    color: #223843;
}

p,label{
    color: #3e5c6b;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],input[type="number"],input[type="date"],input[type="file"]{
    width: 400px;
}

/*header*/
header{
    height: 160px;
    padding: 20px;
    background-color: #89959B;

    h3{
        color: #fff;
        margin-top: 0;
    }
}

/*form container*/
.form-container{
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/*form header*/
.form-header{
    border-bottom: 1px solid #dfdfdf;
    height: 45px;

    p{
        color: #89959B;
        text-transform: uppercase;
        border-bottom: 2px solid #89959B;
        width: 100px;
        text-align: center;
        margin: 0 auto;
        height: 45px;
        line-height: 45px;
    }
}

/*form body*/
.form-body{
    padding: 30px;

    h1{
        margin-bottom: 15px;
    }

    p{
        margin-bottom: 20px;
    }
}